html, body {
    margin: 0;
}
body {
    background-color: #f3f5f4;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    background-color: #f3f5f4;
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 150px;
}
.content {
    min-height: 300px;
    padding: 20px;
}
.footer {
    align-items: center;
    background-color: gray;
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 150px;
    padding: 0 2rem;
    text-align: center;
}

.footer a {
    margin: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form button, form label{
    width: 100px;
}

form input {
    width: 400px;
}

table, table td, table th {
    border: 1px solid #000;
}

table td, table th {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #777;
    color: #fff;
}